@import "tailwindcss";
/* @import "./styles/shiki.css"; */
/* @import "./styles/preset.css"; */
/* @import "./styles/typography.css"; */

@source '../content/**/*.{js,jsx,ts,tsx}';
@source "../packages/ui/*.{js,jsx,ts,tsx}";
@source "../app/(main)/**/*.{js,jsx,ts,tsx}";

/* @import 'tw-animate-css'; */
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-anchor: var(--anchor);

  --background-image-nav-link-indicator: var(--nav-link-indicator);
  --background-image-email-button: var(--email-button);

  --shadow-feature-card: var(--feature-card);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-diff-remove: rgba(244, 63, 94, 0.16);
  --color-diff-add: rgba(16, 185, 129, 0.16);
  --color-diff-remove-symbol: rgb(203, 118, 118);
  --color-diff-add-symbol: rgb(61, 214, 140);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-tree-view-content-down: tree-view-content-down 0.2s ease-out;
  --animate-tree-view-content-up: tree-view-content-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
  --animate-marquee-left: marquee-left var(--duration, 30s) linear infinite;
  --animate-marquee-up: marquee-up var(--duration, 30s) linear infinite;



  @keyframes tree-view-content-down {
    from {
      height: 0;
    }
    to {
      height: var(--height);
    }
  }

  @keyframes tree-view-content-up {
    from {
      height: var(--height);
    }
    to {
      height: 0;
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes marquee-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-up {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  --anchor: rgb(255, 34, 14);

  --nav-link-indicator: radial-gradient(
    44.6% 825% at 50% 50%,
    rgb(255 133 133) 0%,
    rgb(255 72 109 / 0) 100%
  );
  --email-button: linear-gradient(180deg, rgb(210 10 30) 5%, rgb(239 90 90) 100%);

  --feature-card: 0 -1px 3px 0 rgb(0 0 0 / 0.05);

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --radius: 0.625rem;
}

.dark {
  --anchor: rgb(255, 69, 51);

  --nav-link-indicator: radial-gradient(
    44.6% 825% at 50% 50%,
    rgb(255 28 28) 0%,
    rgb(255 72 109 / 0) 100%
  );

  --feature-card: 0 0 0 1px rgb(255 255 255 / 0.06), 0 -1px rgb(255 255 255 / 0.1);

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
};

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

.shiki span {
  color: var(--shiki-light);
}

.dark .shiki span {
  color: var(--shiki-dark);
}

/* Highlighted, Diff */
pre.shiki .highlighted,
pre.shiki .diff {
  margin: 0 -16px;
  padding: 0 16px;
  display: inline-block;
  min-width: calc(100% + 32px);
  line-height: 20px;
}

pre.shiki .highlighted {
  background-color: color-mix(in oklab, var(--color-primary) 10%, transparent);
}

/* Diff */
.shiki code .diff.remove {
  background-color: var(--color-diff-remove);
}

.shiki code .diff::before {
  position: absolute;
  left: 4px;
}

.shiki code .diff.remove::before {
  content: '-';
  color: var(--color-diff-remove-symbol);
}

.shiki code .diff.add {
  background-color: var(--color-diff-add);
}

.shiki code .diff.add::before {
  content: '+';
  color: var(--color-diff-add-symbol);
}

/* Highlighted word */
.shiki .highlighted-word {
  padding: 1px 2px;
  margin: -1px -3px;
  border: 1px solid color-mix(in oklab, var(--color-primary) 50%, transparent);
  background-color: color-mix(in oklab, var(--color-primary) 10%, transparent);
  border-radius: 2px;
}

/* Focus */
.shiki.has-focused .line:not(.focused) {
  opacity: 0.7;
  transition:
    filter 0.35s,
    opacity 0.35s;
  filter: blur(0.095rem);
}

.shiki.has-focused:hover .line:not(.focused) {
  filter: blur(0);
  opacity: 1;
}


.prose {
  --tw-prose-body: color-mix(in oklab, var(--color-foreground) 90%, transparent);
  --tw-prose-headings: var(--color-foreground);
  --tw-prose-lead: var(--color-foreground);
  --tw-prose-links: var(--color-foreground);
  --tw-prose-bold: var(--color-foreground);
  --tw-prose-counters: var(--color-muted-foreground);
  --tw-prose-bullets: var(--color-muted-foreground);
  --tw-prose-hr: var(--color-border);
  --tw-prose-quotes: var(--color-foreground);
  --tw-prose-quote-borders: var(--color-border);
  --tw-prose-captions: var(--color-foreground);
  --tw-prose-th-borders: var(--color-border);
  --tw-prose-td-borders: var(--color-border);
  --tw-prose-code: var(--color-foreground);

  & {
    max-width: none;
  }

  :where(img):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    margin: 0 auto;
  }

  :where(code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 6px;
    background: color-mix(in oklab, var(--color-secondary) 50%, transparent);
    border: 1px solid hsl(var(--border));

    &::before,
    &::after {
      display: none;
    }
  }

  :where(blockquote):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    font-style: normal;

    p {
      &:first-of-type::before,
      &:last-of-type::after {
        content: none;
      }
    }
  }

  :where(video):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  :is(
    :where(h1, h2, h3, h4, h5, h6, th):not(:where([class~='not-prose'], [class~='not-prose'] *))
  ) {
    & a {
      text-decoration: none;
      font-weight: inherit;
      color: inherit;
    }

    & code {
      font-size: inherit;
    }
  }
}
